body{
  font-family: "Times New Roman", Times, serif;
  font-size:20px;
  line-height: 1.6;
}
#main{
   background: whitesmoke; 
   width:80%;
   margin:auto;
}
  #title{
  text-align: center;
}
  img {
  height: auto;
  max-width: 625px;
  display: block;
  margin: auto;
  width:100%;
  height:auto;
}
#img-caption{
  text-align:center;
}
h3{
  text-align:center;
}
#tribute-info{
  margin:10px;
}
#link{
  font-weight:bold;
  text-align:center;
}

